
#banner{
  background-image: url("https://images.unsplash.com/photo-1507838153414-b4b713384a76");
  text-align: center;
  padding: 150px 0px;
  background-size: cover;
  opacity: 0.7;
  margin: 0;

  h1 {
    margin-top: 0;
    color: #C23D12;
    text-shadow: 1px 1px #D3D3D3;
  }

  h2 {
    color: $gray;
    font-size: 20px;
    text-shadow: 1px 1px #D3D3D3;
    letter-spacing: 0.182em;
  }
}
