<div class="container">
  <h1><%= @instrument.name %></h1>
  <h2><%= @instrument.description %></h2>
  <h2><%= @instrument.price_per_day %></h2>
  <%= link_to "Back to all Instruments", root_path %>
</div>
