Hello!

<div class="container">
  <% @instruments.each do |i| %>
  <%= link_to i.name, instrument_path(i) %>
  <%= link_to "Delete", instrument_path(i), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</div>
