
<div id="banner">
  <h1>
  <%= link_to "AIRMUSIC", root_path %>
  </h1>
  <h2> <span id="banner-typed-text"></span></h2>
  <div id="search-container">
      <%= render 'layouts/search' %>
  </div>
</div>


