<nav class="navbar navbar-light bg-light">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dktewj7bn/image/upload/v1587647616/air_music_x5yylf.jpg", :width=>80, :height=>80, :radius=>40 %>
  <% end %>

  <a class="navbar-brand" href="/"></a>
  <form class="form-inline">
    <a class="btn btn-outline-secondary btn-sm" href="/login" role="button">
    Login
    </a>
    <div style="padding-left: 12px;">
      <a class="btn btn-outline-secondary btn-sm" href="/signup" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav>
